* {
  margin: 0
}

bofy {
  background-color: #f1f1f1;
}

.card-container {
  width: 80%;
  margin: 20px auto;
  background-color: cornflowerblue;
  border-radius: 4px;
}

a {
  color: cornflowerblue;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul > li {
  padding: 10px 0px;
}

ul > li::before {
  content: '➡️';
  padding-right: 3px;
}

.hero-image {
  height: 200px;
  background-image: url('https://assets.codepen.io/6060109/girl.jpg');
  background-size: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.name-title {
  padding: 20px 10px;
  color: white;
}

.name {
  margin-bottom: 5px;
}

.title {
  margin-top: 15px;
  font-size: 10px;
}

.section {
  background-color: white;
  padding: 20px 10px;
  border-bottom: 1px solid lightgrey ;
}

.section:last-of-type {
  border-bottom: none;
}

.section-title {
  border-bottom: 2px solid cornflowerblue;
  display: inline-block;
  padding-bottom: 10px;
}

.body-text {
  color: grey;
  padding-top: 10px;
}

.body-text > p {
  padding: 10px 0;
}

.text-bold {
  font-weight: bold;
}

